.comment_input {
    display: flex;
    justify-content: center;
}
.comment_input input {
    background-color: #f7f7f7;
    border: none;
    outline: none;
    flex: 1;
    overflow: hidden;
}
.comment_input .postBtn {
    border: none;
    outline: none;
    background-color: #f7f7f7;
    color: #0a95f9;
    font-weight: 600;
}
.comment_display {
    padding: 10px 25px;
}
.comment_card .comment_content {
    background-color: #eee;
    padding: 7px;
    margin: 7px 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment_card .comment_content .readMore {
    cursor: pointer;
    color: crimson;
    font-size: 13px;
}
.comment_card .comment_content .nav-item {
    cursor: pointer;
    opacity: 0;
}
.comment_card .comment_content:hover .nav-item {
    opacity: 1;
}
.comment_card .comment_content .dropdown-menu {
    position: absolute;
    left: inherit;
    right: 0;
}
.comment_card .comment_content .dropdown-item {
    display: flex;
    margin: 10px 0;
}
.comment_card .comment_content textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px 7px;
}
