#nav_top .nav-item {
    opacity: 0.5;
}
#nav_top .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
#nav_top .nav-item.active {
    opacity: 1;
}
#nav_top .nav-item .material-icons {
    font-size: 1.7rem;
}
#nav_top .nav-item.dropdown {
    opacity: 1;
}
#nav_top .nav-item.dropdown .dropdown-menu {
    position: absolute;
    left: inherit;
    right: 0;
}

/* ----------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
    .header,
    #nav_top {
        box-shadow: 0 0 2px 0px rgb(0 0 0 / 50%);
    }
    .header > .navbar {
        flex-direction: column;
    }
    .header > .navbar .form_search {
        width: 100%;
    }
    #nav_top {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    #nav_top .navbar-nav {
        justify-content: space-around;
    }
    #nav_top .nav-item.dropdown .dropdown-menu {
        top: inherit;
        bottom: 100%;
    }
}
